@font-face {
  font-family: 'tipi';
  src:
    url('./tipi.woff2?9oa0lg') format('woff2'),
    url('./tipi.ttf?9oa0lg') format('truetype'),
    url('./tipi.woff?9oa0lg') format('woff'),
    url('./tipi.svg?9oa0lg#tipi') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="tipi-i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tipi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal!important;
  font-variant: normal;
  text-transform: none;
  font-size: inherit;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tipi-i-flipboard:before {
  content: "\e949";
  color: #e12828;
}
.tipi-i-builder:before {
  content: "\e942";
  color: #fff;
}
.tipi-i-qv:before {
  content: "\e92a";
}
.tipi-i-cart-1-plus:before {
  content: "\e90e";
}
.tipi-i-cart-1:before {
  content: "\e91b";
}
.tipi-i-cart-2-plus:before {
  content: "\e91f";
}
.tipi-i-cart-2:before {
  content: "\e920";
}
.tipi-i-long-bottom:before {
  content: "\e932";
}
.tipi-i-long-left:before {
  content: "\e937";
}
.tipi-i-long-right:before {
  content: "\e93a";
}
.tipi-i-long-top:before {
  content: "\e93d";
}
.tipi-i-discord:before {
  content: "\e941";
  color: #7289da;
}
.tipi-i-line:before {
  content: "\e948";
  color: #00c300;
}
.tipi-i-messenger:before {
  content: "\e945";
  color: #0084ff;
}
.tipi-i-patreon:before {
  content: "\e93e";
  color: #f96854;
}
.tipi-i-steam:before {
  content: "\e943";
}
.tipi-i-apple:before {
  content: "\f179";
}
.tipi-i-spotify:before {
  content: "\f1bc";
}
.tipi-i-search:before {
  content: "\f002";
}
.tipi-i-heart:before {
  content: "\f004";
}
.tipi-i-star2:before {
  content: "\f005";
}
.tipi-i-star-o:before {
  content: "\f006";
}
.tipi-i-camera2:before {
  content: "\f030";
}
.tipi-i-camera-retro:before {
  content: "\f083";
}
.tipi-i-heart-o:before {
  content: "\f08a";
}
.tipi-i-twitter:before {
  content: "\f099";
}
.tipi-i-facebook:before {
  content: "\f09a";
}
.tipi-i-github:before {
  content: "\f09b";
}
.tipi-i-rss:before {
  content: "\f09e";
}
.tipi-i-menu:before {
  content: "\f0c9";
}
.tipi-i-pinterest:before {
  content: "\f0d2";
}
.tipi-i-google-plus:before {
  content: "\f0d5";
}
.tipi-i-linkedin:before {
  content: "\f0e1";
}
.tipi-i-bolt:before {
  content: "\f0e7";
}
.tipi-i-angle-left:before {
  content: "\f104";
}
.tipi-i-angle-right:before {
  content: "\f105";
}
.tipi-i-angle-up:before {
  content: "\f106";
}
.tipi-i-angle-down:before {
  content: "\f107";
}
.tipi-i-youtube-play:before {
  content: "\f16a";
}
.tipi-i-instagram:before {
  content: "\f16d";
}
.tipi-i-tumblr:before {
  content: "\f173";
}
.tipi-i-long-arrow-left:before {
  content: "\f177";
}
.tipi-i-long-arrow-right:before {
  content: "\f178";
}
.tipi-i-dribbble:before {
  content: "\f17d";
}
.tipi-i-vk:before {
  content: "\f189";
}
.tipi-i-weibo:before {
  content: "\f18a";
}
.tipi-i-behance:before {
  content: "\f1b4";
}
.tipi-i-soundcloud:before {
  content: "\f1be";
}
.tipi-i-qq:before {
  content: "\f1d6";
}
.tipi-i-wechat:before {
  content: "\f1d7";
}
.tipi-i-weixin:before {
  content: "\f1d7";
}
.tipi-i-twitch:before {
  content: "\f1e8";
}
.tipi-i-whatsapp:before {
  content: "\f232";
}
.tipi-i-medium:before {
  content: "\f23a";
}
.tipi-i-vimeo:before {
  content: "\f27d";
}
.tipi-i-reddit-alien:before {
  content: "\f281";
}
.tipi-i-snapchat-ghost:before {
  content: "\f2ac";
}
.tipi-i-chat:before {
  content: "\e0b7";
}
.tipi-i-chat_bubble_outline:before {
  content: "\e0cb";
}
.tipi-i-close:before {
  content: "\e5cd";
}
.tipi-i-quote:before {
  content: "\e244";
}
.tipi-i-play_arrow:before {
  content: "\e037";
}
.tipi-i-search-thin:before {
  content: "\e8b6";
}
.tipi-i-trend:before {
  content: "\e6e1";
}
.tipi-i-trend-2:before {
  content: "\e8e5";
}
.tipi-i-videogame_asset:before {
  content: "\e338";
}
.tipi-i-flame:before {
  content: "\e80e";
}
.tipi-i-alert-triangle:before {
  content: "\e930";
}
.tipi-i-arrow-down:before {
  content: "\e900";
}
.tipi-i-arrow-left:before {
  content: "\e901";
}
.tipi-i-arrow-right:before {
  content: "\e902";
}
.tipi-i-arrow-up:before {
  content: "\e903";
}
.tipi-i-at-sign:before {
  content: "\e904";
}
.tipi-i-bookmark:before {
  content: "\e905";
}
.tipi-i-calendar:before {
  content: "\e906";
}
.tipi-i-camera-o:before {
  content: "\e907";
}
.tipi-i-check:before {
  content: "\e908";
}
.tipi-i-chevron-down:before {
  content: "\e909";
}
.tipi-i-chevron-left:before {
  content: "\e90a";
}
.tipi-i-chevron-right:before {
  content: "\e90b";
}
.tipi-i-chevron-up:before {
  content: "\e90c";
}
.tipi-i-clock:before {
  content: "\e90d";
}
.tipi-i-disc:before {
  content: "\e931";
}
.tipi-i-edit-2:before {
  content: "\e90f";
}
.tipi-i-external-link:before {
  content: "\e92e";
}
.tipi-i-eye:before {
  content: "\e910";
}
.tipi-i-film:before {
  content: "\e911";
}
.tipi-i-folder:before {
  content: "\e912";
}
.tipi-i-grid:before {
  content: "\e913";
}
.tipi-i-hash:before {
  content: "\e916";
}
.tipi-i-headphones:before {
  content: "\e915";
}
.tipi-i-home:before {
  content: "\e917";
}
.tipi-i-info:before {
  content: "\e933";
}
.tipi-i-link:before {
  content: "\e92f";
}
.tipi-i-log-in:before {
  content: "\e93b";
}
.tipi-i-log-out:before {
  content: "\e93c";
}
.tipi-i-mail:before {
  content: "\e918";
}
.tipi-i-maximize:before {
  content: "\e93f";
}
.tipi-i-message-square:before {
  content: "\e91a";
}
.tipi-i-minimize:before {
  content: "\e940";
}
.tipi-i-moon:before {
  content: "\e946";
}
.tipi-i-more-horizontal:before {
  content: "\e934";
}
.tipi-i-music:before {
  content: "\e91c";
}
.tipi-i-play:before {
  content: "\e91d";
}
.tipi-i-plus:before {
  content: "\e91e";
}
.tipi-i-printer:before {
  content: "\e944";
}
.tipi-i-repeat:before {
  content: "\e935";
}
.tipi-i-rewind:before {
  content: "\e936";
}
.tipi-i-share-2:before {
  content: "\e919";
}
.tipi-i-sliders:before {
  content: "\e921";
}
.tipi-i-star:before {
  content: "\e922";
}
.tipi-i-sun:before {
  content: "\e947";
}
.tipi-i-thumbs-down:before {
  content: "\e938";
}
.tipi-i-thumbs-up:before {
  content: "\e914";
}
.tipi-i-trash:before {
  content: "\e923";
}
.tipi-i-user:before {
  content: "\e924";
}
.tipi-i-video:before {
  content: "\e925";
}
.tipi-i-volume:before {
  content: "\e926";
}
.tipi-i-volume-1:before {
  content: "\e927";
}
.tipi-i-volume-2:before {
  content: "\e928";
}
.tipi-i-volume-x:before {
  content: "\e929";
}
.tipi-i-watch:before {
  content: "\e939";
}
.tipi-i-zap:before {
  content: "\e92b";
}
.tipi-i-zoom-in:before {
  content: "\e92c";
}
.tipi-i-zoom-out:before {
  content: "\e92d";
}
