.mode--alt--b .collapsible__wrap,
.mode--alt--b .mm-skin-1 .sub-menu li,
.mode--alt--b .mm-skin-3 .sub-menu li,
.mode--alt--b table td,
.mode--alt--b table th,
.mode--alt--b .woocommerce-tabs,
.mode--alt--b .woocommerce-tabs .woocommerce-Tabs-panel,
.mode--alt--b .woocommerce-Reviews ol .review {
  border-color: #232323;
}

.mode--alt--b .collapsible__title,
.mode--alt--b .lets-social-count-wrap a,
.mode--alt--b .sb-skin-1 .lets-review__widget__design-1 .score {
  color: #fff;
}

.mode--alt--b .main-menu-skin-1 .menu-bg-area,
.mode--alt--b .header-skin-1 .bg-area,
.mode--alt--b .tipi-button.block-loader,
.mode--alt--b .secondary-menu-skin-1 .menu-bg-area {
  background: #151515;
}

.mode--alt--b .mm-skin-1 .sub-menu,
.mode--alt--b .mm-skin-1 .menu-wrap,
.mode--alt--b .mm-skin-3 .sub-menu,
.mode--alt--b .mm-skin-3 .menu-wrap,
.mode--alt--b .mm-skin-4 .sub-menu,
.mode--alt--b .mm-skin-4 .menu-wrap {
  background: #151515 !important;
  color: #fff !important;
}

.mode--alt--b .mm-skin-1 .menu-wrap .block-title,
.mode--alt--b .mm-skin-3 .menu-wrap .block-title,
.mode--alt--b .mm-skin-4 .menu-wrap .block-title,
.mode--alt--b .mm-skin-1 .mm-art .title a,
.mode--alt--b .mm-skin-3 .mm-art .title a,
.mode--alt--b .wpcf7-form p {
  color: #fff;
}

.mode--alt--b .header-skin-1 .logo-fallback a {
  color: #fff !important;
}

.mode--alt--b .header-skin-1.sticky-header--active.site-header .bg-area,
.mode--alt--b .header-skin-1.site-header.sticky-menu-2.stuck .bg-area,
.mode--alt--b .header-skin-1.site-header.slidedown .bg-area {
  background-color: #151515;
}

.mode--alt--b .main-menu-skin-1 {
  color: #fff;
}

.mode--alt--b .main-menu-skin-1 .menu-icon--text {
  color: inherit;
}

.mode--alt--b .main-menu-skin-1.main-navigation.stuck .menu-bg-area {
  background-color: #151515;
}

.mode--alt--b .main-menu-skin-1 .main-navigation-border {
  border-color: #232323;
}

.mode--alt--b .secondary-wrap .menu-bg-area {
  border-color: #232323;
}

.mode--alt--b:not(.dark-mode--mobile-header-off) .site-mob-header {
  background-color: #151515 !important;
  color: #fff;
}

.mode--alt--b:not(.dark-mode--mobile-header-off) .site-mob-header .bg-area {
  background-color: transparent;
}

.mode--alt--b:not(.dark-mode--mobile-header-off) .site-mob-header a {
  color: #fff;
}

.mode--alt--b:not(.dark-mode--mobile-header-off) .site-mob-header .tipi-i-menu-mob {
  background-color: white;
}

.mode--alt--b .sidebar-wrap .widgets-skin-1 .zeen-widget {
  color: #fff !important;
  background-color: transparent;
}

.mode--alt--b .sidebar-wrap .widgets-skin-1 .zeen-widget a {
  color: #fff;
}

.mode--alt--b .no-more.tipi-button {
  background: #444 !important;
}

.mode--alt--b:not(.dark-mode--footer-off) #colophon .bg-area-inner,
.mode--alt--b:not(.dark-mode--footer-off) .footer-widget-area + .footer-lower-area {
  border-color: #232323;
}

.mode--alt--b:not(.dark-mode--footer-off) .site-footer .bg-area-inner,
.mode--alt--b:not(.dark-mode--footer-off) .site-footer .bg-area-inner .woo-product-rating span,
.mode--alt--b:not(.dark-mode--footer-off) .footer-widgets-skin-3,
.mode--alt--b:not(.dark-mode--footer-off) .footer-widgets-skin-1 {
  background-color: #0f0f0f !important;
}

.mode--alt--b:not(.dark-mode--footer-off) .site-footer .bg-area-inner .textwidget h2,
.mode--alt--b:not(.dark-mode--footer-off) .site-footer .bg-area-inner .woo-product-rating span .textwidget h2,
.mode--alt--b:not(.dark-mode--footer-off) .footer-widgets-skin-3 .textwidget h2,
.mode--alt--b:not(.dark-mode--footer-off) .footer-widgets-skin-1 .textwidget h2 {
  color: #fff;
}

.mode--alt--b:not(.dark-mode--footer-off) .site-footer .footer-widget-bg-area,
.mode--alt--b:not(.dark-mode--footer-off) .site-footer .bg-area-inner,
.mode--alt--b:not(.dark-mode--footer-off) .site-footer .copyright,
.mode--alt--b:not(.dark-mode--footer-off) .site-footer .footer-widget-bg-area .widget-title {
  color: #fff;
}

.mode--alt--b:not(.dark-mode--footer-off) .site-footer .footer-widget-bg-area a,
.mode--alt--b:not(.dark-mode--footer-off) .site-footer .bg-area-inner a,
.mode--alt--b:not(.dark-mode--footer-off) .site-footer .copyright a,
.mode--alt--b:not(.dark-mode--footer-off) .site-footer .footer-widget-bg-area .widget-title a {
  color: #fff;
}

.mode--alt--b:not(.dark-mode--main-menu-off) .main-menu-skin-3 .menu-bg-area {
  background: #151515;
}

.mode--alt--b:not(.dark-mode--main-menu-off) .main-menu-skin-3 {
  color: #fff;
}

.mode--alt--b:not(.dark-mode--main-menu-off) .main-menu-skin-3 .date--main {
  color: #fff;
}

.mode--alt--b:not(.dark-mode--main-menu-off) .main-menu-skin-3.main-navigation.stuck .menu-bg-area {
  background-color: #151515;
}

.mode--alt--b:not(.dark-mode--main-menu-off) .main-menu-skin-3 .main-navigation-border {
  border-color: #232323;
}

.mode--alt--b.skin-light {
  color: #888;
}

.mode--alt--b.skin-light .no-fi.preview-grid {
  border-color: transparent;
}

.mode--alt--b.skin-light .meta-skin-shadow.meta-skin-2 article {
  box-shadow: 1px 9px 15px rgba(138, 138, 138, 0.1);
}

.mode--alt--b.skin-light .wpcf7-form-control.wpcf7-text,
.mode--alt--b.skin-light .wpcf7-form-control.wpcf7-text[type="text"],
.mode--alt--b.skin-light .wpcf7-form-control.wpcf7-text[type="email"],
.mode--alt--b.skin-light .wpcf7-form-control.wpcf7-textarea {
  background: transparent;
  border: 1px solid #222;
  color: #fff;
}

.mode--alt--b.skin-light .entry-content,
.mode--alt--b.skin-light .reaction .count {
  color: #fff;
}

.mode--alt--b.skin-light .gb-block-accordion .gb-accordion-title {
  background: #232323;
}

.mode--alt--b.skin-light .lets-info-up-wrap {
  color: #fff !important;
  background-color: #0f0f0f !important;
  border-color: transparent;
}

.mode--alt--b.skin-light .lets-info-up-wrap a {
  color: #fff !important;
}

.mode--alt--b.skin-light .lets-info-up-wrap .lets-info-up-meta-title,
.mode--alt--b.skin-light .lets-info-up-wrap .lets-info-up-pretitle {
  color: #aaa;
}

.mode--alt--b.skin-light .lets-info-up-wrap .lets-info-up-pretitle {
  opacity: 1;
}

.mode--alt--b.skin-light:not(.dark-mode--header-off) .header-skin-3 .bg-area {
  background-color: #0f0f0f !important;
}

.mode--alt--b.skin-light:not(.dark-mode--header-off) .site-header a,
.mode--alt--b.skin-light:not(.dark-mode--header-off) .site-header .logo-subtitle {
  color: #fff;
}

.mode--alt--b.skin-light .sb-skin-3.bg-area,
.mode--alt--b.skin-light .footer-lower-area.site-skin-2,
.mode--alt--b.skin-light .block-skin-bg-1:not(.skin-inner) {
  background-color: #0f0f0f !important;
}

.mode--alt--b.skin-light .site-skin-1,
.mode--alt--b.skin-light .widget-title {
  background-color: transparent;
  color: #fff;
}

.mode--alt--b.skin-light .site-skin-1 .copyright,
.mode--alt--b.skin-light .widget-title .copyright {
  color: #888;
}

.mode--alt--b.skin-light .mob-menu-wrap.site-skin-1 {
  background-color: #0f0f0f;
}

.mode--alt--b.skin-light .slide-in-menu.site-skin-1 {
  background-color: #000;
}

.mode--alt--b.skin-light .zeen__list--1 .arrow.disabled {
  background: #101010;
  opacity: 0.4;
}

.mode--alt--b.skin-light .load-more-wrap .tipi-arrow {
  border-color: #fff;
  color: #fff;
}

.mode--alt--b.skin-light .load-more-wrap .tipi-arrow i:after {
  background: #fff;
}

.mode--alt--b.skin-light .reaction {
  background: transparent;
  color: #fff;
}

.mode--alt--b.skin-light .reaction.reacted, .mode--alt--b.skin-light .reaction:hover {
  border-color: #444;
}

.mode--alt--b.skin-light .logo-fallback a,
.mode--alt--b.skin-light .sidebar-widget .widget-title,
.mode--alt--b.skin-light .block-html-content span {
  color: #fff !important;
}

.mode--alt--b.skin-light .splitter:not(.splitter--custom) svg g,
.mode--alt--b.skin-light .site-footer .splitter .shape--fill {
  fill: #151515;
}

.mode--alt--b.skin-light .site-inner,
.mode--alt--b.skin-light .content-bg,
.mode--alt--b.skin-light .page-header,
.mode--alt--b.skin-light .flickity-viewport,
.mode--alt--b.skin-light.has-bg-da .contents-wrap .block-skin-0:not(.block-wrap-video-player):not(.block-wrap-39),
.mode--alt--b.skin-light .slider-nav .slide {
  background-color: #151515;
}

.mode--alt--b.skin-light .sb-skin-1,
.mode--alt--b.skin-light .meta-skin-1.block-wrap .preview-mini-wrap,
.mode--alt--b.skin-light .sb-skin-11,
.mode--alt--b.skin-light .page-header-skin-11:not(.skin-inner),
.mode--alt--b.skin-light .page-header-skin-11.skin-inner .tipi-row-inner-style {
  background-color: #151515 !important;
}

.mode--alt--b.skin-light .sb-skin-1 .widget_search form,
.mode--alt--b.skin-light .sb-skin-11 .widget_search form {
  border-color: #232323;
}

.mode--alt--b.skin-light .sb-skin-1 .lets-review__widget__design-4 .cb-overlay span,
.mode--alt--b.skin-light .sb-skin-11 .lets-review__widget__design-4 .cb-overlay span {
  background-color: #151515 !important;
}

.mode--alt--b.skin-light .read-more-wrap,
.mode--alt--b.skin-light .layout-side-info .details .total-shares-count,
.mode--alt--b.skin-light .user-page-box a,
.mode--alt--b.skin-light .user-page-box,
.mode--alt--b.skin-light .secondary-wrap-v .standard-drop > a,
.mode--alt--b.skin-light .secondary-wrap,
.mode--alt--b.skin-light .secondary-wrap a,
.mode--alt--b.skin-light .has-background.has-text-color,
.mode--alt--b.skin-light .secondary-wrap .menu-icon--text,
.mode--alt--b.skin-light .date--secondary {
  color: #fff;
}

.mode--alt--b.skin-light .block-skin-2:not(.skin-inner),
.mode--alt--b.skin-light .block-skin-2.skin-inner .tipi-row-inner-style,
.mode--alt--b.skin-light .separation-border-v,
.mode--alt--b.skin-light .user-page-box,
.mode--alt--b.skin-light .mask,
.mode--alt--b.skin-light .zeen-up-down,
.mode--alt--b.skin-light .zeen-iframe-lazy-load:not(.zeen-lazy-loaded),
.mode--alt--b.skin-light .sticky-header--active.site-header.header-skin-4 .bg-area,
.mode--alt--b.skin-light .hero,
.mode--alt--b.skin-light .widgets-title-skin-11 .widget-title {
  background-color: #0f0f0f;
}

.mode--alt--b.skin-light .custom-button__fill-1.tipi-button.block-loader,
.mode--alt--b.skin-light .wpcf7-submit,
.mode--alt--b.skin-light .block-skin-5:not(.skin-inner),
.mode--alt--b.skin-light .block-skin-5.skin-inner > .tipi-row-inner-style {
  background-color: #232323;
}

.mode--alt--b.skin-light .sidebar-wrap .sidebar,
.mode--alt--b.skin-light .layout-side-info .detail + .sharer,
.mode--alt--b.skin-light .reaction,
.mode--alt--b.skin-light .content-area .zeen-widget,
.mode--alt--b.skin-light .footer-block-links .block-elements > *,
.mode--alt--b.skin-light .block-title-wrap-style .block-title-area,
.mode--alt--b.skin-light .zeen_comments_with_avatar .stylish-comment,
.mode--alt--b.skin-light .mm-skin-3 .menu-wrap-more-10,
.mode--alt--b.skin-light .footer-widget-wrap .zeen-widget {
  border-color: #232323;
}

.mode--alt--b.skin-light .woo-product-rating-overlay,
.mode--alt--b.skin-light .zeen__var__options label {
  color: #fff;
}

.mode--alt--b.skin-light .zeen__var__options label {
  background: transparent;
}

.mode--alt--b.skin-light .zeen_button_type input[type="radio"]:not(.radio--disabled):checked + label {
  background: #fff;
  color: #111;
}

.mode--alt--b.skin-light .content-area h1,
.mode--alt--b.skin-light .content-area h2,
.mode--alt--b.skin-light .content-area h3,
.mode--alt--b.skin-light .content-area h4,
.mode--alt--b.skin-light .content-area h5,
.mode--alt--b.skin-light .content-area h6,
.mode--alt--b.skin-light .content-area .block-title,
.mode--alt--b.skin-light .content-area .preview-classic .meta .title,
.mode--alt--b.skin-light .content-area .preview-thumbnail .meta .title {
  color: #fff;
}

.mode--alt--b.skin-light .content-area .preview-thumbnail,
.mode--alt--b.skin-light .content-area .separation-border-style,
.mode--alt--b.skin-light .content-area .block-title-wrap-style .block-title:after,
.mode--alt--b.skin-light .content-area .block-title-wrap-style .block-title:before {
  border-color: #232323;
}

.mode--alt--b.skin-light .content-area .block-wrap,
.mode--alt--b.skin-light .content-area .tipi-row-inner-style,
.mode--alt--b.skin-light .content-area .block-wrap-events .event__wrap {
  border-color: #232323 !important;
}

.mode--alt--b.skin-light .content-area .tipi-button.block-loader {
  border: 1px solid #232323;
}

.mode--alt--b.skin-light .content-area .block-skin-bg-4:not(.skin-inner):not(.block-is-nest),
.mode--alt--b.skin-light .content-area .block-skin-4:not(.skin-inner):not(.block-is-nest),
.mode--alt--b.skin-light .content-area .block-skin-bg-11:not(.skin-inner),
.mode--alt--b.skin-light .content-area .block-skin-bg-11.skin-inner > .tipi-row-inner-style,
.mode--alt--b.skin-light .content-area .block-skin-11:not(.skin-inner),
.mode--alt--b.skin-light .content-area .has-background,
.mode--alt--b.skin-light .content-area .block-skin-11.skin-inner .tipi-row-inner-style {
  background-color: #0f0f0f !important;
}

.mode--alt--b.skin-light .content-area .block-skin-11:not(.skin-inner) .block-tiny-title span,
.mode--alt--b.skin-light .content-area .block-skin-11.skin-inner .tipi-row-inner-style .block-tiny-title span {
  color: #fff !important;
}

.mode--alt--b.skin-light .inf-loading:before {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.mode--alt--b.skin-light .pagination a {
  color: #fff;
}

.mode--alt--b .site-mob-header.site-skin-1,
.mode--alt--b .site-header-side.site-skin-1 {
  background: #151515;
}

.mode--alt--b .site-mob-header.site-skin-1 a,
.mode--alt--b .site-mob-header.site-skin-1 i,
.mode--alt--b .site-header-side.site-skin-1 a,
.mode--alt--b .site-header-side.site-skin-1 i {
  color: #fff;
}

.mode--alt--b .site-mob-header.site-skin-1 .tipi-i-menu-mob,
.mode--alt--b .site-header-side.site-skin-1 .tipi-i-menu-mob {
  background-color: #fff;
}

.mode--alt--b .site-header-side.site-skin-1 {
  border-color: #222 !important;
}

.mode--alt--b.skin-dark {
  color: #666;
}

.mode--alt--b.skin-dark .videos-mini-wrap article .title {
  color: #fff;
}

.mode--alt--b.skin-dark .splitter:not(.splitter--custom) svg g,
.mode--alt--b.skin-dark .splitter:not(.splitter--custom) .shape--fill,
.mode--alt--b.skin-dark .site-footer .splitter .shape--fill {
  fill: #fff;
}

.mode--alt--b.skin-dark .site-inner,
.mode--alt--b.skin-dark .content-bg,
.mode--alt--b.skin-dark .page-header,
.mode--alt--b.skin-dark .flickity-viewport,
.mode--alt--b.skin-dark .site-mob-menu-a-4.mob-open .site-skin-1.site-mob-header .tipi-i-menu-mob:before, .mode--alt--b.skin-dark .site-mob-menu-a-4.mob-open .site-skin-1.site-mob-header .tipi-i-menu-mob:after {
  background: #fff;
}

.mode--alt--b.skin-dark .block-skin-11:not(.skin-inner),
.mode--alt--b.skin-dark .block-skin-11.skin-inner .tipi-row-inner-style,
.mode--alt--b.skin-dark .footer-widgets-skin-1,
.mode--alt--b.skin-dark .sb-skin-1,
.mode--alt--b.skin-dark .meta-skin-1.block-wrap .preview-mini-wrap {
  background: #fff !important;
}

.mode--alt--b.skin-dark h1,
.mode--alt--b.skin-dark h2,
.mode--alt--b.skin-dark h3,
.mode--alt--b.skin-dark h4,
.mode--alt--b.skin-dark h5,
.mode--alt--b.skin-dark h6,
.mode--alt--b.skin-dark .block-title,
.mode--alt--b.skin-dark .preview-classic .meta .title,
.mode--alt--b.skin-dark .preview-thumbnail .meta .title,
.mode--alt--b.skin-dark .read-more-wrap,
.mode--alt--b.skin-dark .block-title-videos .block-title,
.mode--alt--b.skin-dark .block-title-videos .block-title p,
.mode--alt--b.skin-dark .block-title-videos .cta-content {
  color: #222;
}

.mode--alt--b.skin-dark .block-skin-4 .preview-classic .meta .title,
.mode--alt--b.skin-dark .block-skin-4 .preview-thumbnail .meta .title {
  color: #222 !important;
}

.mode--alt--b.skin-dark .title-middle .entry-title {
  color: #fff;
}

.mode--alt--b.skin-dark .block-skin-2:not(.skin-inner),
.mode--alt--b.skin-dark .block-skin-2.skin-inner .tipi-row-inner-style,
.mode--alt--b.skin-dark .separation-border-v,
.mode--alt--b.skin-dark .custom-button__fill-1.tipi-button.block-loader {
  background: #222;
}

.mode--alt--b.skin-dark .separation-border-style,
.mode--alt--b.skin-dark .block-title-wrap-style .block-title:after,
.mode--alt--b.skin-dark .block-title-wrap-style .block-title:before,
.mode--alt--b.skin-dark .sidebar-wrap .sidebar {
  border-color: #f1f1f1;
}

.mode--alt--b.skin-dark .block-wrap,
.mode--alt--b.skin-dark .tipi-row-inner-style {
  border-color: #f1f1f1 !important;
}

.mode--alt--b.skin-dark .tipi-button.block-loader {
  border: 1px solid #f1f1f1;
}

.mode--alt--b.skin-dark .inf-loading:before {
  border-top-color: #222;
  border-bottom-color: #222;
}

.mode--alt--b.skin-dark .pagination a {
  color: #222;
}
